* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: #f2f4f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 32px;
  margin-bottom: 25px;
  color: #222;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 900px;
}

.box {
  background: rgb(236, 235, 235);
  /* background-image: url(./images/pokemon.jpg); */
  padding: 35px 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-decoration: none;
  color: #333;
  transition: 0.3s ease;
  /* border: 2px solid transparent; */
}

.box:hover {
  transform: translateY(-5px);
  border-color: #007bff;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.box h2 {
  font-size: 20px;
  font-weight: bold;
}
