* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #c657be;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 1px rgb(102, 3, 102);
    overflow: hidden;
    padding: 10px;
}
.containerScore{
    background: white;
}

.heading {
    color: purple;
    font-size: larger;
    font-weight: bold;
    margin: 10px;
}

.questions {
    margin: 8px;
    box-shadow: 0px 0px 2px 1px rgb(74, 70, 70);
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    font-weight: 530;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.optContainer {
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    margin: 6px 4px;
    width: 100%;
    padding: 10px;
}

.optContainer input {
    /* visibility: hidden; */
}
.optContainer label{
    box-shadow: 0px 0px 4px 1px rgb(128, 123, 123);
    padding: 5px;
    border-radius: 3px;
    transition: 0.5s; 
}
.optContainer input:checked + label{
     background-color: rgb(159, 84, 159);
    color:white;
    box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
}
.timeWala{
    background: skyblue;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border: 1.5px solid black;
    border-radius: 8px;
    margin-bottom: 1rem;

}

#nextBtn{
      padding:10px;
    border:none;
    background-color: purple;
    color:white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
}
#nextBtn:active{
    box-shadow:none;    
}
#backBtn{
      padding:10px;
    border:none;
    background-color: rgb(37, 55, 135);
    color:white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
}
#backBtn:active{
    box-shadow:none;    
}